/* Reset */
*{
    margin: 0;
    padding: 0;
    /* border-box không thay đổi kích thước */
    box-sizing: border-box; 
}

/*
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

/*
1. Vị trí 
2. Kích thước(width, height)
3. Màu sắc 
4. Kiểu dáng (kiểu chữ, hình tròn, vuông,...)
*/
html{
    font-family: Arial, Helvetica, sans-serif;
}

#main{
    
}

body {
     
}

body #main{

}

/* CSS cho header */
body #main #header{
    width: 100%;
    height: 54.5px;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background-color:white;
}

/* CSS cho web name */
body #main #header #web-name{
    width: 235px;
    height: 39px;
    padding: 8px 16px;
    
}
body #main #header #web-name a {
    text-decoration: none;
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: normal;
    vertical-align: middle;
}

body #main #header #web-name:hover {
    background-color: rgba(0, 0, 0, 0.17);
}
/* End CSS cho web name */

/* Start CSS cho nav */
body #main #header #nav{
    position: absolute;
    right: 20px;
    width: 280px;
    height: 39px;
}

body #main #header #nav li  {
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    list-style-type: none;
    display:inline-block;
}
body #main #header #nav li a {
    height: 39px;
    text-decoration: none;
    display:block;
    padding: 8px 16px;
}
body #main #header #nav li a:hover {
    background-color: rgba(0, 0, 0, 0.17);
} 
/* End CSS nav */

/* Start CSS banner */
body #main #banner {
    position:relative;
    max-width: 100%;
    height: auto;
}
body #main #banner img{
    max-width: 100%;
    height: auto;
}
body #main #banner #img_name {
    width:274px;
    height: 98px;
    margin: 10px 0px;
    padding: 12px 24px;
    position:absolute;
    bottom: 0px;
    line-height: 74px;
}
body #main #banner #img_name h1 {
    font-size: 36px;
    display:inline-block;
    line-height: normal;
    vertical-align: middle;
}
/* End CSS banner */

/* Start CSS content */
body #main #content {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Start CSS about */
body #main #content #about {
    width: 1100px;
    height:779px;
    background-color:white;
    padding: 64px 0px;
    position: relative;
}
body #main #content #about #img {
    width: 550px;
    height: 651px;
    padding: 12px 24px;
    background-color: white;
    position:absolute;
    top: 64px;
}
body #main #content #about #img #about-img {
    width:502px;
    height:627px;
}
body #main #content #about #about-infor {
    width: 550px;
    height: 536px;
    background-color:white;
    padding: 12px 24px;
    position:absolute;
    top: 64px;
    right: 0px;
    text-align: center;
}
 body #main #content #about #about-tittle{
    width: 100%;
    height: 54px;
    font-size: 36px;
    margin: 10px 0px;
}

body #main #content #about #about-extra-tittle {
    width: 100%;
    height: 27px;
    font-size: 18px;
    margin: 10px 0px;
    font-size: 18px;

}

body #main #content #about #about-para1 {
    width: 100%;
    height: 189px;
    font-size: 18px;
    margin: 18px 0px;
    text-align: justify;
    color: #000000;
}

body #main #content #about #about-para1 span{
    background-color: rgba(0, 0, 0, 0.17);
}
body #main #content #about #about-para2 {
    width: 100%;
    height: 189px;
    font-size: 18px;
    margin: 18px 0px;
    text-align: justify;
    color: #757575;
}
/* End CSS about */
body #main #content hr {
    width: 1100px;
    height: 0.8px;
    margin: 20px 0px;
}




